  <div id="login">
    <div class="container">
      <form  id="loginForm"  ng-submit="login()"class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="login" class="input-block-level" ng-model="formData.username"  placeholder="Username">
        <input type="password" name="password" class="input-block-level" ng-model="formData.pass"  placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button ng-hide="loading" class="btn btn-large btn-primary" type="submit">Sign in</button>
          <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
      </form>
    </div> <!-- /container -->
  </div>